/* Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, 
                                rgba(67, 0, 72, 0.9) 3%,
                                rgba(9,9,121,0.9) 40%,
                                rgba(5,124,183,1) 100%);
    display: flex;
}

/* Text Styles */
a, ul, li, h1, h2, h3, h4, h5, h6, button, input, output {
    color: rgba(245, 245, 245, 0.65);
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
}

/* Navigation Styles */
aside, section > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside {
    width: 25vw;
    margin: 1em 0.5em;
    padding: 1em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feeds-heading {
    text-align: left;
}

/* Side Item Styles */
.sidebar-item {
    width: 100%;
    margin: .1em auto;
    padding: .5em;
    border-radius: 1em;
    color: rgb(245, 245, 245);
    transition: background 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out, 
                transform 0.3s ease-in-out; 
}

.side-item:hover{
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

/* Link, Button,  Input, and Output  Styles */
a, button {
    width: 100%;
    height:fit-content;
    margin: .5em auto;
    padding: .5em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    border: 0.1px solid rgba(173, 173, 173, 0.8);
    transition: background 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out, 
                transform 0.3s ease-in-out; 
}

input, output {
    display: block;
    width: 100%;
    padding: .5em;
    margin: .5em auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    border: 0.1px solid rgba(173, 173, 173, 0.8);
    transition: background 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out, 
                transform 0.3s ease-in-out; 
    color: rgba(245, 245, 245, 0.65);
    font-weight: bolder;
}

a:hover, button:hover {
    background: rgba(255, 255, 255, 0.4);
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

a:active, button:active {
    transform: scale(0.8);
}

/* Glass Effect Styles */
.glass-effect {
    background: rgba(150, 150, 150, 0.2);
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 1em;
}

/* Main Content Styles */
main {
    width: 75vw;
    margin: 1em 0.1em;
    padding: 1em;
}

.feeds-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.feeds-list {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

ul{
    padding: 1em 0;
}
li {
    margin: 1em 0;
}

section h4, ul {
    margin:1em 1em 1em 0;

}


.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

::placeholder {
    text-align: center;
    color: rgba(245, 245, 245, 0.3);
    font-weight: lighter;
}

.rssPost {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.rssPost h3 {
    margin-top: 0;
}

.rssPost a {
    color: #007bff;
    text-decoration: none;
}

.rssPost a:hover {
    text-decoration: underline;
}